body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

header {
  background: #1a73e8;
  color: white;
  text-align: center;
  padding: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.busca {
  text-align: center;
  padding: 1rem;
}

#busca {
  width: 60%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 1rem;
  text-align: center;
}

.card img {
  max-width: 100%;
  border-radius: 8px;
}

button {
  background: #1a73e8;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #155ab6;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem;
}

input, select, textarea {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.card-login {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  text-align: center;
  width: 300px;
  transition: 0.3s ease;
}

.card-login h2 {
  margin-bottom: 1rem;
  color: #1a73e8;
}

.hidden {
  display: none;
}

.card-login input {
  width: 100%;
  margin-bottom: 0.8rem;
}

.card-login button {
  width: 100%;
}

.card-login a {
  color: #1a73e8;
  text-decoration: none;
}
